@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@keyframes spin {
  to {
    transform: rotateZ(360deg) rotateX(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e7dfdd;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.wrapper {
  min-height: calc(100vh - 100px);
}

nav {
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/sanath-kumar-4N4DiBz9c5s-unsplash.jpg') no-repeat center
      center/cover;
  background-color: rgb(165, 141, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

nav::after {
  opacity: 75%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #eee;
  align-self: center;
  font-size: 50px;
  margin: 10px 0 50px 0;
  padding: 0;
  font-weight: 900;
}

.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

/* .selector {
  display: flex;
  gap: 10px;
} */

.add-cats,
.breeds {
  min-width: 160px;
  border: 1px solid #555;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  background-color: #eee;
  color: #333;
}

.add-cats:hover,
.breeds:hover {
  background-color: #333;
  color: #eee;
}

.breeds:focus {
  outline: none;
}

section {
  min-height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 50px 0;
}

img.cat {
  max-width: 600px;
  max-height: 350px;
  border-radius: 5px;
  align-self: center;
}

.spin {
  animation: spin 0.5s ease-in-out infinite;
}

.spinner {
  width: 20px;
  align-self: center;
  font-size: 100px;
  margin-top: 100px;
}

.hidden {
  display: none;
}

.desc {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  max-width: 500px;
  align-self: center;
  padding: 5px 15px;
}

footer {
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/sanath-kumar-4N4DiBz9c5s-unsplash.jpg') no-repeat;
  background-color: #333;
  text-align: center;
  padding: 10px, 15%, 10px, 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h5 {
  color: #eee;
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
}

footer p {
  color: #eee;
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ccc;
}

/* Media queries

Smartphones & small tablets */

@media only screen and (max-width: 1024px) {
}

/* smartphones */

@media screen and (max-width: 480px) {
  .wrapper {
    min-height: calc(100vh - 50px);
  }

  .section {
    min-height: calc(100vh - 400px);
  }

  .navbar {
    justify-content: center;
    padding: 0 20px;
  }

  img.cat {
    max-width: 90vw;
    max-height: 90%;
  }

  .desc {
    max-width: 90vw;
  }

  footer {
    height: 100px;
    padding-top: 50px;
  }

  footer h5 {
    font-size: 12px;
    margin-bottom: 2px;
  }

  footer p {
    font-size: 10px;
  }
}
